*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background: #141414;
    color: aliceblue;
    text-align: center;
    overflow-x: hidden;
}
.title
{
    font-size: 1.5em;
    margin: 20px 10px;
}
img
{
    width: 100%;
}
.main
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.projects
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 800px) 
{
    .projects .project
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        max-width: 200px;
        background: #29272f;
        margin: 5px;
        padding: 5px;
        border-radius: 15px;
        text-decoration: none;
        color: #ffffffbc;
        font-weight: 700;
    }
}
@media only screen and (max-width: 400px) 
{
    .projects .project
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        max-width: 170px;
        background: #29272f;
        margin: 5px;
        padding: 5px;
        border-radius: 15px;
        text-decoration: none;
        color: #ffffffbc;
        font-weight: 700;
    }
}

@media only screen and (min-width: 800px) 
{
    .projects .project
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        max-width: 300px;
        background: #29272f;
        margin: 10px;
        padding: 15px;
        border-radius: 15px;
        text-decoration: none;
        color: #ffffffbc;
        font-weight: 700;
    }
}
.projects .project img
{
    border-radius: 10px;
}
